.jambPic{
    background-image: url(/public/hotelPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 55vh;
    animation: mymove3 1.5s;
}
.jambPic2{
    background-image: url(https://cdn.discordapp.com/attachments/713873647550464000/1094352056669716490/visualsofdana-T5pL6ciEn-I-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 55vh;
    animation: mymove3 1.5s;
}
.jambPic3{
    background-image: url(https://cdn.discordapp.com/attachments/713873647550464000/1094355274636206100/point3d-commercial-imaging-ltd-oxeCZrodz78-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 55vh;
    animation: mymove3 1.5s;
}.jambPic4{
    background-image: url(https://cdn.discordapp.com/attachments/713873647550464000/1094355703755448470/reisetopia-aI6Su7Mu9Ro-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 55vh;
    animation: mymove3 1.5s;
}
.jambPic5{
    background-image: url(https://cdn.discordapp.com/attachments/713873647550464000/1094356887128002590/chastity-cortijo-R-w5Q-4Mqm0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 55vh;
    animation: mymove3 1.5s;
}
@keyframes mymove3 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    margin-top: 1.5rem;
    object-fit: cover;
    height: 60px;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.gradient{
    background-image: linear-gradient(
        270deg,
        rgb(23,44,63,0.02) 0%,
        rgba(174, 120, 214, 0.6) 49%,
        rgb(107, 62, 184) 100%
      );
width: 40vw;
height: 55vh;
color: white;
}
.radius{
    margin-top: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.5rem;
}
.formInput{
    position: relative;
    background-color: white;
    width: 100%;
    bottom: 70px;
    height: 26vh;
    border-radius: 20px;
    border: 0.2px solid rgb(189, 185, 185);
    box-shadow: gray 0px 0px 10px 0px;
}
.giveWidth{
    margin-top: 1.5rem;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.smallHeader{
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width:1264px) {
    .formInput{
        height: 30vh;
    }
}
@media only screen and (max-width:834px) {
    .formInput{
        bottom: 10px;
    }
    .disappearIt{
        display: none;
    }
}
@media only screen and (max-width:577px) {
    .formInput{
        height: 35vh;
    }
    .smallPicDisapear{
        display: none;
    }
}
@media only screen and (max-width:496px) {
    .formInput{
        height: 36vh;
    }
}
@media only screen and (max-width:424px) {
    .gradient{  
          min-width: 60vw;
    }
}
@media only screen and (max-width:409px) {
    .giveWidth{
        width: 150px;
    }
}
@media only screen and (max-width:360px) {
    .logo{  
          height: 50px;
    }
}
@media only screen and (max-width:317px) {
    .logo{  
          height: 40px;
    }
}
